*.html
*.DS_Store
*.ipynb_checkpoints
*.pyc
build/*
docs/_build/
docs/modules/
docs/dev_files
docs/bayesian_tutorial.ipynb
.cache/*
.imdone/*
dist/*
*.egg*
.tox/*
.pytest_cache/*
**/__pycache__
dev/
.coverage
*.key
pytest.ini
env
environment.yml
docs/dev.ipynb
.vscode/bookmarks.json