*.html
*.DS_Store
*.ipynb_checkpoints
*.pyc
build/*
docs/_build/
docs/modules/
.cache/*
.imdone/*
dist/*
*.egg*
.tox/*
.pytest_cache/*
**/__pycache__
dev/
.coverage
.vscode/settings.json
*.key
pytest.ini
env/*
conda/build/*