# requires a current GIT_TOKEN, ANACONDA_TOKEN, PYPI_TOKEN in TravisCI settings
env:
  - PACKAGE_NAME: pymer4   # for the conda_upload.sh deploy script

language: minimal

before_install:
  # b.c conda build GIT_BUILD_STR works (or not) in mysterious ways ...
  - export GIT_ABBREV_COMMIT=$(git log --full-history --abbrev-commit --oneline -n 1 | awk '{print $1}')
  - echo "git commit $GIT_ABBREV_COMMIT"
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - source $HOME/miniconda/etc/profile.d/conda.sh && conda activate
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a

install:
  - conda install -q conda-build conda-verify
  - conda build conda -c defaults -c conda-forge
  - conda create --name pymer4_env pymer4 -c local -c defaults -c conda-forge
  - conda activate pymer4_env  # run pytests in conda env
  - conda install black pytest-cov
  - conda list
  - lscpu
  - python -c 'import numpy; numpy.show_config()'

script:
  # TODO: enforce black?
  # - black --check --verbose --line-length=79 .
  - pytest --cov=pymer4

after_success:
  - conda install codecov && codecov

before_deploy:
  # install necessary packages and refresh the docs before deployment
  - conda install sphinx sphinx_bootstrap_theme sphinx-gallery -c conda-forge
  # FIXME:
  # - (cd docs && make clean && make html)
  #   generating gallery for auto_examples... [100%] example_05_misc_stats.py
  #   Extension error:
  #   Handler <function generate_gallery_rst at 0x7f4d849a5320> for event 'builder-inited' threw an exception

deploy:

  # allow any commit to master to refresh the docs on gh-pages
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN  # from github, set in TravisCI settings
    on:
      # branch: master
      all_branches: true  # testing only

  # this script manages conda package uploads. It routes routine
  # master commits to the pre-release label and manual github releases
  # tagged vM.N.P to the main label.
  - provider: script
    skip_cleanup: true
    script: bash ./ci/conda_upload.sh
    on:
      all_branches: true  # always dry-run the script

  # only upload manual github releases tagged vM.N.P to PyPI
  # so M.N.P on Anaconda Cloud channel/label/main == PyPI
  - provider: pypi
    skip_cleanup: true
    user: "__token__"
    password: $PYPI_TOKEN
    on:
      tags: true
      condition: $TRAVIS_TAG =~ ^v[0-9]+\.[0-9]+\.[0-9]+$

