name: Test Pre-release Install
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  test-install:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        py_ver: ['3.10', 3.11, 3.12]
        os: [ubuntu-latest, macos-latest]
    env:
      ANACONDA_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: ${{ matrix.py_ver }}
        channels: conda-forge,defaults
        channel-priority: strict
        activate-environment: build-env
        auto-activate-base: false

    - name: Test install
      shell: bash -el {0}
      run: | 
        conda config --set always_yes yes
        conda install pymer4 -c ejolly/label/pre-release -c conda-forge
        python -c "from pymer4 import test_install; test_install()"
